.containerUser {
  text-align: center;
}
label,
button {
  color: #fff;
  font-size: 18px;
}

.inputText {
  width: 500px;
  height: 50px;
  background-color: #fff;
  color: black;
  border-radius: 10px;
}
.inputUser {
  padding-bottom: 30px;
}
.buttonDK {
  /* align-items: center; */
  width: 510px;
  height: 50px;
  background-color: red;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 80px;
}
.buttonDK:hover {
  background-color: rgb(180, 6, 6);
  color: white;
  font-weight: bold;
}
