.logo-brand {
  width: 150px;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: red !important;

}
.active {
  color: red !important;
  /* border-bottom: 2px solid #fff;     */
}
.navbarHeader {
  position: sticky !important;
  top: 0;
  z-index: 9999;
}
.handleUser {
  background-color: #222;
}

.login {
  margin-right: 10px;
  color: white;
}

.login:hover {
  color: #ccc;
}

.signup {
  margin-right: 10px;
  color: white;
}

.signup:hover {
  color: #ccc;
}